services:
  server:
    image: talebook/book-review-server
    restart: always
    volumes:
      - ./data/sqlite:/data
      - ./brs.log:/app/brs.log
    ports:
      - "5002:80"
    env_file:
      - .env
