[mysqld]
innodb_buffer_pool_size=128M
innodb_log_file_size=32M
max_connections=50
key_buffer_size=32M
sort_buffer_size=2M
read_buffer_size=2M
read_rnd_buffer_size=4M
thread_cache_size=4
query_cache_size=32M
